@media (max-width: 800px){
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
    }

    header nav {
        font-size: 1.2em;
        padding-top: 1%;
    }
    
    .link2{
        padding-left: 25%;
    }

    


    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
    }

    footer span{
        font-size: 2em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    
.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(35,160,35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB,#E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 50px;
    animation: pipe-animation 0.9s infinite linear;
}

.char {
    width: 150px;
    position: absolute;
    bottom: 0;
    
}

.jump {
    animation: jump 450ms  ease-out;
}

.clouds {
    position: absolute;
    width: 300px;
    animation: clouds-animation 20s infinite linear;
}

.clouds2 {
    position: absolute;
    width: 150px;
    top: 150px;
    animation: clouds-animation2 14s infinite linear;
}

.clouds3 {
    position: absolute;
    width: 70px;
    top: 100px;
    animation: clouds-animation3 25s infinite linear;
}

.clouds4 {
    position: absolute;
    top:200px;
    width: 80px;
    animation: clouds-animation4 30s infinite linear;
}

.plane1 {
    position: absolute;
    width: 55px;
    top: 100px;
    animation: plane1-animation 30s infinite linear;
   
}

.birds1 {
    position: absolute;
    width: 50px;
    top: 170px;
    animation: plane1-animation 50s infinite linear;
    
}

@keyframes pipe-animation {
    from{
        /* começa com o msm tamanho do sprite negativo */
        right:-500px;
    } to {
        right: 100%;
    }
}

@keyframes jump {

    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }

}

@keyframes clouds-animation {
    from{
        
        right:-350px;
    } to {
        right: 100%;
    }
}

@keyframes clouds-animation2 {
    from{
        
        right:-1550px;
    } to {
        right: 100%;
    }
}

@keyframes clouds-animation3 {
    from{
        
        right:-550px;
    } to {
        right: 100%;
    }
}

@keyframes clouds-animation4 {
    from{
        
        right:-350px;
    } to {
        right: 100%;
    }
}

@keyframes plane1-animation {
    from{
        
        right: -50px;
    } to {
        right: 100%;
    }
}

@keyframes birds1-animation {
    from{
        
        right: -350px;
    } to {
        right: 100%;
    }
}



.gameover {
    display: none;
    color:  red;
    width: 200px;
    margin-top: 58%;
    margin-left: 25%;
    position: absolute;
    
}

.start-game {
    display: none;
}

.intro {
    width: 100%;
    height: 400px;
    border-bottom: 15px solid rgb(35,160,35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB,#E0F6FF);
}

.logo {
    width: 90%;
    position: absolute;
    left: 10%;
    bottom: 20%; 
    animation: logo-animation 1.5s  linear;
}

@keyframes logo-animation {
    from{
        bottom:-80px;
    } to {
        bottom: 20%;
    }
}

@keyframes logo-animation2 {
    from{
        top:-180px;
    } to {
        top: 1%;
    }
}

.pschar1 {
    width: 30%;
    position: absolute;
    left:70%;
    bottom: 0;
}

.pschar2 {
    width: 30%;
    position: absolute;
    left:5%;
    bottom: 0;
}

.pschar3 {
    width: 25%;
    position: absolute;
    left:40%;
    bottom:3%; 
}

.pschar4 {
    width: 220px; 
    left: 25%;
    position: absolute;
    animation: logo-animation2 25s  linear;
}

.night {
    background: linear-gradient(#090909,#E0F6FF) !important;
}

.day {
    background: linear-gradient(#87CEEB,#E0F6FF) !important;
}

.after {
    background: linear-gradient(#eaea78,#E0F6FF) !important;
}
   
}